body {
  height: 100%;
  width: 100%;
  
  font-family: avenir, arial, sans-serif;
}

ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

h2 {
  margin-top: 30px;
  
  color: #494864;
  font-size: 18px;
  text-align: center;
  font-weight: lighter;
}
